@import 'bootstrap';
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color:  #fff8f9fa;
}

.card {
  margin: 1rem;
  width: 30rem;
}

header{
  background-image: linear-gradient( blue, rgb(40, 138, 250), #fff8f9fa);
  color: rgb(255, 255, 255)
}

.headerTitle{
  color: rgb(255, 255, 255);
}

.singleImage img{
 border-radius: 5rem;
}
